<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="styles/print.css" type="text/css" rel="stylesheet">

<section class="page">
    <section class="resume">
        <contact data-contact="resume.contact"></contact>
        <section class="resume-left">
            <educations data-educations="resume.educations"></educations>
            <projects data-projects="resume.projects"></projects>
        </section>
        <section class="resume-right">
            <!--<objective data-objective="resume.objective"></objective>-->
            <experiences data-experiences="resume.experiences"></experiences>
        </section>
    </section>
</section>

<script type="text/ng-template" id="contact">
    <section class="contact">
        <h2>
            <i class="fa fa-user"></i>
            <span class="contact-firstName">{{ contact.first_name }}</span>
            <span class="contact-lastName">{{ contact.last_name }}</span>
        </h2>

        <div class="contact-methods">
            <address class="contact-address">
                <i class="fa fa-home"></i>
                <span class="address-street">{{ contact.address.street }}</span>
                <span class="address-city">{{ contact.address.city }}</span>
                <span class="address-state">{{ contact.address.state }}</span>
                <span class="address-zip">{{ contact.address.zip }}</span>
            </address>
            <span class="contact-phone"><i class="fa fa-phone"></i> {{ contact.phone }}</span>
            <span class="contact-email"><i class="fa fa-envelope-o"></i> {{ contact.email }}</span>
        </div>
    </section>
</script>

<script type="text/ng-template" id="objective">
    <section class="objective">
        <h3>Objective</h3>
        <span class="objective-value">{{ objective }}</span>
    </section>
</script>

<script type="text/ng-template" id="experiences">
    <section class="experiences">
        <h3>Experience</h3>
        <experience data-ng-repeat="experience in experiences"
                    data-experience="experience">
        </experience>
    </section>
</script>

<script type="text/ng-template" id="experience">
    <div class="experience" data-ng-show="experience.publish">
        <header class="experience-header">
            <div class="experience-period">
                <span class="experience-from">{{ experience.from | date:'MMM yyyy' }}</span>
                <span class="experience-to">{{ experience.to | date:'MMM yyyy' }}</span>
            </div>
            <div class="experience-location">
                <span class="experience-city">{{ experience.city }}</span>
                <span class="experience-state">{{ experience.state }}</span>
            </div>
            <h4 class="experience-title">
                <span class="experience-organization">{{ experience.organization }}</span>
                <span class="experience-position">{{ experience.position }}</span>
            </h4>
        </header>
        <p>{{ experience.description }}</p>
        <div class="experience-accomplishments">
            <accomplishments data-list="experience.accomplishments"></accomplishments>
        </div>
        <div class="experience-keywords">
            <keywords data-list="experience.keywords"></keywords>
        </div>
    </div>
</script>

<script type="text/ng-template" id="educations">
    <section class="educations">
        <h3>Education</h3>
        <education data-ng-repeat="education in educations"
                   data-education="education">
        </education>
    </section>
</script>

<script type="text/ng-template" id="education">
    <div class="education" data-ng-show="education.publish">
        <h4>
            <span class="education-organization">{{ education.organization }}</span>
            <span class="education-position">{{ education.degree }}</span>
        </h4>
        <span class="education-city">{{ education.city }}</span>
        <span class="education-state">{{ education.state }}</span>
        <span class="education-to">{{ education.to }}</span>

        <div class="education-accomplishments">
            <accomplishments data-list="education.accomplishments"></accomplishments>
        </div>
        <div class="education-keywords">
            <keywords data-list="education.keywords"></keywords>
        </div>
    </div>
</script>

<script type="text/ng-template" id="projects">
    <section class="projects">
        <h3>Projects</h3>
        <project data-ng-repeat="project in projects"
                 data-project="project">
        </project>
    </section>
</script>

<script type="text/ng-template" id="project">
    <div class="project" data-ng-show="project.publish">
        <h4>
            <span class="project-title">{{ project.title }}</span>
        </h4>
        <p>{{ project.description }}</p>
        <div class="project-accomplishments">
            <accomplishments data-list="project.accomplishments"></accomplishments>
        </div>
        <div class="project-keywords">
            <keywords data-list="project.keywords"></keywords>
        </div>
    </div>
</script>

<script type="text/ng-template" id="accomplishments">
    <ul class="accomplishments">
        <li class="accomplishment"
            data-ng-repeat="accomplishment in accomplishments">
            {{ accomplishment }}
        </li>
    </ul>
</script>

<script type="text/ng-template" id="keywords">
    <ul class="keywords">
        <li class="keyword"
            data-ng-repeat="keyword in keywords">
            <!--<i class="img img-{{ keyword | lowercase }}"></i>-->
            {{ keyword }}
        </li>
    </ul>
</script>
