<div class="col-md-12">
    <div data-ng-repeat="experience in resume.experiences"
         data-ng-show="experience.publish">
        <div class="row">
            <h3 class="col-md-7">{{ experience.title }}, {{ experience.organization }}</h3>

            <div class="col-md-5">
                <em>
                    {{ experience.city }}, {{ experience.state }}<br />
                    {{ experience.from }} &mdash; {{ experience.to }}
                </em>
            </div>
        </div>
        <div class="row">
            <h4 class="col-md-3">Skills</h4>
            <div class="col-md-12">
                <span data-ng-repeat="skill in experience.skills">
                    <span class="badge">{{ skill }}</span>
                </span>
            </div>
        </div>
        <div class="row">
            <p class="col-md-3">{{ experience.description }}</p>
            <h4 class="col-md-9">Accomplishments</h4>
            <ul>
                <li class="col-md-3"
                    data-ng-repeat="accomplishment in experience.accomplishments">
                    {{ accomplishment }}
                </li>
            </ul>
        </div>
    </div>
</div>
