<pre>
{{ resume.full_name }}
{{ resume.address.street }}
{{ resume.address.city }}, {{ resume.address.state }} {{ resume.address.zip }}

Email: {{ resume.email }}
Phone: {{ resume.phone }}

{{ resume.title }}

== Objective ==

{{ resume.objective }}

== Experience ==

<span data-ng-repeat="experience in resume.experiences" data-ng-show="experience.publish">-- {{ experience.title }}, {{ experience.organization }} --
{{ experience.city }}, {{ experience.state }}
{{ experience.from }} &mdash; {{ experience.to }}
Skills: {{ experience.skills | implode:', ' }}

{{ experience.description }}

Accomplishments:
<span data-ng-repeat="accomplishment in experience.accomplishments">&bull; {{ accomplishment }}
</span>
</span>

== Education ==

<span data-ng-repeat="experience in resume.education">-- {{ experience.title }}, {{ experience.organization }} --
{{ experience.city }}, {{ experience.state }}
{{ experience.from }} &mdash; {{ experience.to }}

Accomplishments:
<span data-ng-repeat="accomplishment in experience.accomplishments">&bull; {{ accomplishment }}
</span>
</span>

== Projects ==

<span data-ng-repeat="experience in resume.projects" data-ng-show="experience.publish">-- {{ experience.title }} --
Skills: {{ experience.skills | implode:', ' }}

{{ experience.description }}

Accomplishments:
<span data-ng-repeat="accomplishment in experience.accomplishments">&bull; {{ accomplishment }}
</span>
</span>

== Skills ==

<span data-ng-repeat="skill in resume.skills">-- {{ skill.title }} --
{{ skill.values | implode:', ' }}

</span>
</pre>
