
<section class="page">
    <section class="resume">
        <contact data-contact="resume.contact"></contact>
        <section class="resume-left">
            <educations data-educations="resume.educations"></educations>
            <projects data-projects="resume.projects"></projects>
        </section>
        <section class="resume-right">
            <objective data-objective="resume.objective"></objective>
            <experiences data-experiences="resume.experiences"></experiences>
        </section>
    </section>
</section>
