<!doctype html>
<html data-ng-app="resume">
<head>
    <link href="resume.css" rel="stylesheet"/>
</head>
<body>
<script src="bower_components/angular/angular.min.js"></script>
<script src="resume.js"></script>

<div id="resume">
    <header>
        <div class="contact">
            <div class="email">
                <span class="name"><span class="first">Terrence</span>.<span class="last">Howard</span></span><span class="host">@knights.ucf.edu</span>
            </div>
        </div>
        <div class="info">
            <span class="occupation">{{ resume.occupation }}</span>
        </div>
        <span class="phone">{{ resume.phone }}</span>
        <!--<span class="github">{{ resume.github }}</span>-->
    </header>
    <h2>Education</h2>
    <div class="education" data-ng-repeat="listing in resume.educations" data-listing="listing"></div>
    <h2>Experience</h2>
    <div class="experience" data-ng-repeat="listing in resume.experiences" data-listing="listing"></div>
</div>

<script id="listing.html" type="text/ng-template">
    <div class="listing">
        <div class="header">
            <div class="period"><span class="start">{{ listing.start | date:'MMM yyyy' }}</span><span class="end">&nbsp;{{ (listing.end || 'Current') | date:'MMM yyyy' }}</span></div>
            <div class="duration" data-ng-if="listing.start">{{ listing.start | duration:listing.end }}</div>
            <div class="organization">{{ listing.organization }}</div>
            <div class="title">{{ listing.title }}</div>
            <div class="location"><span class="city">{{ listing.city }}</span>, <span class="state">{{ listing.state }}</span></div>
        </div>
        <ul class="keywords">
            <li class="keyword" data-ng-repeat="item in listing.keywords">{{ item }}</li>
        </ul>
        <ul class="duties">
            <li class="role" data-ng-repeat="item in listing.roles">{{ item }}</li>
            <li class="accomplishment" data-ng-repeat="item in listing.accomplishments | search" data-ng-bind="item"></li>
            <li class="task" data-ng-repeat="item in listing.tasks | search">{{ item }}</li>
        </ul>
    </div>
</script>

</body>
</html>