<link href="vendor/foundation/css/normalize.css" rel="stylesheet" type="text/css"/>
<link href="vendor/foundation/css/foundation.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/resume.css" rel="stylesheet" type="text/css"/>
<article data-resume-default>
    <section data-contact>
        <div class="row">
            <div class="columns medium-12">
                <h1 class="">{{ contact.full_name }}</h1>
                {{ contact.title }}
                <address data-address>{{ contact.address.street }}, {{ contact.address.city }}, {{ contact.address.state }} {{ contact.address.zip }}</address>
                <address data-phone>{{ contact.phone }}</address>
                <address data-email>{{ contact.email }}</address>
            </div>
        </div>
    </section>

    <section data-objective>
        <div class="row">
            <div class="columns medium-12">
                <h2>Objective</h2>

                <p>{{ objective }}</p>
            </div>
        </div>
    </section>

    <section data-experiences>
        <div class="row">
            <div class="columns medium-12">
                <h2>Experience</h2>
            </div>
        </div>
        <section data-ng-repeat="experience in experiences">
            <div class="row">
                <h3 class="columns medium-12">
                    <span data-organization>{{ experience.organization }}</span>,
                    <span data-position>{{ experience.position }}</span>
                </h3>
            </div>
            <div class="row">
                <div class="columns medium-6">
                    <span>{{ experience.city }}</span>, <span>{{ experience.state }}</span>
                </div>
                <div class="columns medium-6 medium-text-right">
                    <span>{{ experience.from | date:'MMM yyyy' }}</span> -
                    <span>{{ experience.to | date:'MMM yyyy' }}</span>
                </div>
            </div>
            <div class="row">
                <div class="columns medium-12">
                    <ul class="inline-list">
                        <li data-ng-repeat="value in experience.keywords">
                            <span class="label secondary">{{ value }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="columns medium-12">
                    <p>{{ experience.description }}</p>
                    <ul>
                        <li data-ng-repeat="value in experience.accomplishments">{{ value }}</li>
                    </ul>
                </div>
            </div>
        </section>
    </section>

    <section data-education>
        <div class="row">
            <div class="columns medium-12">
                <h2>Education</h2>
            </div>
        </div>
        <section data-ng-repeat="education in educations">
            <div class="row">
                <div class="columns medium-12">
                    <h3>
                        <span data-organization>{{ education.organization }}</span>,
                        <span data-position>{{ education.degree }}</span>
                    </h3>
                </div>
            </div>
        </section>
    </section>

    <section data-projects>
        <div class="row">
            <div class="columns medium-12">
                <h2>Projects</h2>
            </div>
        </div>
        <section data-ng-repeat="project in projects">
            <div class="row">
                <div class="columns medium-12">
                    <h3>
                        <span data-title>{{ project.title }}</span>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="columns medium-12">
                    <ul class="inline-list">
                        <li data-ng-repeat="value in project.keywords">
                            <span class="label secondary">{{ value }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="columns medium-12">
                    <p>{{ project.description }}</p>
                    <ul>
                        <li data-ng-repeat="value in project.accomplishments">{{ value }}</li>
                    </ul>
                </div>
            </div>
        </section>
    </section>

    <section data-skills>
        <div class="row">
            <div class="columns medium-12">
                <h2>Skills</h2>
            </div>
        </div>
        <div class="row">
            <div class="columns medium-12">
                <section data-ng-repeat="category in skills">
                    <h3>
                        <span data-category>{{ category.title }}</span>
                    </h3>
                    <ul class="inline-list">
                        <li data-ng-repeat="value in category.values">{{ value }}</li>
                    </ul>
                </section>
            </div>
        </div>
    </section>
</article>
