<link href="styles/base.css" type="text/css" rel="stylesheet">

<article class="resume">
    <contact data-contact="resume.contact"></contact>
    <objective data-objective="resume.objective"></objective>
    <experiences data-experiences="resume.experiences"></experiences>
    <educations data-educations="resume.educations"></educations>
    <projects data-projects="resume.projects"></projects>
</article>

<script type="text/ng-template" id="contact">
    <section class="contact">
        <span class="contact-firstName">{{ contact.first_name }}</span>
        <span class="contact-lastName">{{ contact.last_name }}</span>
        <span class="contact-phone">{{ contact.phone }}</span>
        <span class="contact-email">{{ contact.email }}</span>
    </section>
</script>

<script type="text/ng-template" id="objective">
    <section class="objective">
        <span class="objective-value">{{ objective }}</span>
    </section>
</script>

<script type="text/ng-template" id="experiences">
    <section class="experiences">
        <experience data-ng-repeat="experience in experiences"
                    data-experience="experience">
        </experience>
    </section>
</script>

<script type="text/ng-template" id="experience">
    <section class="experience">
        <span class="experience-position">{{ experience.position }}</span>
        <span class="experience-organization">{{ experience.organization }}</span>
        <span class="experience-city">{{ experience.city }}</span>
        <span class="experience-state">{{ experience.state }}</span>
        <span class="experience-from">{{ experience.from }}</span>
        <span class="experience-to">{{ experience.to }}</span>

        <div class="experience-accomplishments">
            <accomplishments data-list="experience.accomplishments"></accomplishments>
        </div>
        <div class="experience-keywords">
            <keywords data-list="experience.keywords"></keywords>
        </div>
    </section>
</script>

<script type="text/ng-template" id="educations">
    <section class="educations">
        <education data-ng-repeat="education in educations"
                    data-education="education">
        </education>
    </section>
</script>

<script type="text/ng-template" id="education">
    <section class="education">
        <span class="education-position">{{ education.degree }}</span>
        <span class="education-organization">{{ education.organization }}</span>
        <span class="education-city">{{ education.city }}</span>
        <span class="education-state">{{ education.state }}</span>
        <span class="education-from">{{ education.from }}</span>
        <span class="education-to">{{ education.to }}</span>

        <div class="education-accomplishments">
            <accomplishments data-list="education.accomplishments"></accomplishments>
        </div>
        <div class="education-keywords">
            <keywords data-list="education.keywords"></keywords>
        </div>
    </section>
</script>

<script type="text/ng-template" id="projects">
    <section class="projects">
        <project data-ng-repeat="project in projects"
                    data-project="project">
        </project>
    </section>
</script>

<script type="text/ng-template" id="project">
    <section class="project">
        <span class="project-title">{{ project.title }}</span>

        <div class="project-accomplishments">
            <accomplishments data-list="project.accomplishments"></accomplishments>
        </div>
        <div class="project-keywords">
            <keywords data-list="project.keywords"></keywords>
        </div>
    </section>
</script>

<script type="text/ng-template" id="accomplishments">
    <ul class="accomplishments experience-accomplishments">
        <li class="accomplishment-experience"
            data-ng-repeat="accomplishment in accomplishments">
            {{ accomplishment }}
        </li>
    </ul>
</script>

<script type="text/ng-template" id="keywords">
    <ul class="keywords experience-keywords">
        <li class="keyword-experience"
            data-ng-repeat="keyword in keywords">
            {{ keyword }}
        </li>
    </ul>
</script>
